@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/CSS.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; /* This makes sure the picture doesn't move when on smaller viewports(mobile devices and smaller screens), 
  however, it may behave inconsistently on some mobile browsers. 
  Feel free to research dynamiic viewport height units (dvh, svh, and lvh) or alternitive solutions */
  width: 100vw;
  color: aquamarine;
  font-family: "Turret Road", serif;
  font-size: xx-large;
}

.top-container {
    height: 25%;
}

header {
  text-align: center;
  margin-top: 1rem; /* You can experiment with the margin to get the desired result */
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 1rem; /* Feel free to experiment with the padding to get the desired result */
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50%; /* This ensures the answer stays exactly in the middle of the page.
  Feel free to experiment with the height to get the desired result */
  color: black;
  /* border: 10px solid blue; */ /* If you need a guide on which container you're working in */
}

form {
  text-align: center;
  width: 80%;
}

.bottom-container {
    height: 25%; /* You can also adjust the height */
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: flex-end;  */ /* This pushes the bottom container to the very bottom of the page */
    text-align: center;
}