@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

body {
    background-image: url("CSS.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: aquamarine;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "turret road","serif";
    font-size: xx-large;
}

.header, 
.center-container,
.answer-container {
    /* border: 10px solid red; */
    /* margin: 20px 0 20px 0;  */
}



.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
}

form {
    /* display: flex;
    flex-direction: column; */
    /* border: 10px solid green; */
    text-align: center;
    
}

#question {
    /* border: 10px solid blue; */
    width: 50%;
}

/* .answer-container {
display: flex;
flex-direction: column;
justify-content: flex-end;

} */

#answer {
    position: fixed;
    bottom: 0;
    /* margin-right: 1000px; */
}